# Build artifacts
build/
CMakeCache.txt
CMakeFiles/
BACnetModule/
.qt/
.rcc/
cmake_install.cmake
mybacnet_qmltyperegistrations.cpp
MyBACnet
MyBACnet_autogen/
meta_types/
qmltypes/

Makefile
*.o
*.so
*.dylib
*.exe
*.dll
*.a
*.lib

# Qt Creator-specific files
CMakeLists.txt.user*
*.pro.user

# Other temporary files
*.tmp
*~

